# pixi environments
.pixi/*
!.pixi/config.toml
enrichm/_pycache__/*
test/__pycache__/*
*.pyc
dist/*
data/
dist/
*.egg-info/
docs/build/
test-results/
test/test.bash
test/test_output/
database/
*enrichm*output/
